<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div id="app">
                    <!-- List rendering & uses of key -->
                    <h2>List rendering & uses of key</h2>
                    <input type="text" v-model="newSkill.name" placeholder="Skill name">
                    <input type="text" v-model.number="newSkill.experience" placeholder="Experience year">
                    <button @click="addSkill">Add</button>
                    <ul>
                        <li v-for="(skill, i) in skills" @click="removeSkill(i)" :key="skill.name">
                            <p>
                                {{i+1}}. {{ skill.name }} ({{ skill.experience}})
                                <br>
                                <input type="text" @click.stop placeholder="Remark">
                            </p>
                        </li>
                    </ul>

                    <!-- List rendering of object & number -->
                    <h2>List rendering of object & number</h2>
                    <h3>About me</h3>
                    <table>
                        <tr v-for="(value, key,i) in aboutMe">
                            <th>{{i+1}}</th>
                            <th>{{key}}</th>
                            <td>{{ value}}</td>
                        </tr>
                    </table>
                    <h3>Skills</h3>
                    <!-- <template v-for="skill in skills" :key="skill.name">
                        {{skill.name}},
                    </template> <br/>-->

                    <template :key="skill.name" v-if="skills.length > 0">
                        {{skills.map(({name}) => name).join(',')}}
                    </template>
                    <br>
                    <div>
                        <p v-for="i in 10">
                            {{i}}
                        </p>
                    </div>

                    <!-- Conditional Rendering-->
                    <h2>Conditional Rendering</h2>
                    <button @click="toggle" v-if="show">Hide</button>
                    <button @click="toggle" v-else>Show</button>
                    <div class="card" v-if="show"></div>
                    <hr>
                    <ul>
                        <li v-for="(skill, i) in skills" :key="skill.name">
                            <p>
                                {{i+1}}. {{ skill.name }} -
                                <span v-if="skill.experience < 4"> Beginner</span>
                                <span v-else-if="skill.experience < 6"> Intermediate</span>
                                <span v-else> Expert</span>

                            </p>
                        </li>
                    </ul>

                    <!--  Computed properties-->
                    <h2> Computed properties</h2>
                    <input type="text" placeholder="write your review" v-model="review">
                    <ul>
                        <li v-for="(skill, i) in skills" :key="skill.name" @click="removeSkill(i)">
                            <p>
                                {{i+1}}. {{ skill.name }} - {{skill.experience}}
                            </p>
                        </li>
                    </ul>
                    <h3>Total skill: {{countskill1}}</h3>
                    <h3>Experienced Skills:</h3>
                    <ul>
                        <li v-for="(skill, i) in experiencedSkills" :key="skill.name">
                            <p>
                                {{i+1}}. {{ skill.name }} - {{skill.experience}}
                            </p>
                        </li>
                    </ul>

                    <!-- Watcher-->
                    <h2>Watcher</h2>
                    <input type="text" placeholder="Enter 11 digit number" v-model="mobile">
                    <br><br>
                    <input type="text" placeholder="Enter first name" v-model="name2.firstName">
                    <input type="text" placeholder="Enter last name" v-model="name2.lastName">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>

</html>